@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    @include flex-center;
}


@mixin button-styles {
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darkblue;
    }
}
.button {
    @include button-styles;
}
@mixin flex($direction:row, $justify:center, $align:center, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
.container {
    @include flex(row, center, center, nowrap);
}
.btn{
    border-radius: 100px;
    border: 1px solid #000;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;    
}
.btn-w{
    @extend .btn;
    background-color: #0f0;
    color: #fff;
}